title           Arch Linux ZFS Default
linux           /env/org.zectl-default/vmlinuz-linux
initrd          /env/org.zectl-default/initramfs-linux.img
options         zfs=zroot/ROOT/default rw {{cmdline}}
